{% extends "layouts/default.njk" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="">
  <h1 class="text-center">World War II planes</h1>
   <figure x-data="alpine.filter()">
    <form class="margin-top" @submit="preventDefault();">
      <fieldset>
        <legend class="u-visually-hidden">Filter planes</legend>
        <ul class="filters">
          <li class="filter"><label for="country">Country</label> <select class="margin-top-tenth" id="country" name="country" @change="$nextTick(() => updateResultsCount());" x-model="country">
              <option value="">Any</option>
              <option value="USA">USA</option>
              <option value="UK">UK</option>
            </select></li>
          <li class="filter"><label for="planetype">Plane Type</label> <select class="margin-top-tenth" id="planetype" name="planetype" @change="$nextTick(() => updateResultsCount());" x-model="planetype">
              <option value="">Any</option>
              <option value="Fighter-bomber">Fighter bomber</option>
              <option value="Navy-fighter">Navy fighter</option>
          
            </select></li>
            {# 
          <li class="filter"><label for="location">Location</label> <select class="margin-top-tenth" id="location" name="location" @change="$nextTick(() => updateResultsCount());" x-model="location">
              <option value="">Any</option>
              <option value="google meet">Google Meet</option>
              <option value="zoom">Zoom</option>
            </select></li> #}
        </ul>
      </fieldset>
    </form>
    <div>
    <ul class="list--unstyled grid gap-2 grid-cols-3">
{%- for post in collections.planes -%}
  <li class="talk padding-half border-black border-2 js-talk"
  x-show="(!country || country === '{{ post.data.country }}') &amp;&amp; (!planetype || planetype === '{{ post.data.planetype }}')"
  >
  <a href="{{ post.url}}">
  {% cloudinaryImage post.data.image, "w_320,f_auto", "Cloudinary Sample Image" %} 
  <div class="p-2 flex flex-col">
  <h3 class="text-center">{{ post.data.title }}</h3>
  <div>country: {{ post.data.country }}</div>
  <div>max speed: {{ post.data.maxspeed }}</div>
  <div>type: {{ post.data.planetype }} </div>
  </div>
  </a>
  </li>
{%- endfor -%}
</ul>
</div>
  </figure>
  </div>
{% endblock %}

