{% extends "layouts/default.njk" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="container px-3 max-w-5xl">
  <h1 class="text-center">World War II planes</h1>
   <figure x-data="alpine.filter()" >
    <form class="bg-white w-full p-6 rounded-md" @submit="preventDefault();">
      <fieldset class="w-full">
        <legend class="sr-only">Filter planes</legend>
        <ul class="filters flex justify-center">
          <li class="filter mx-6"><label for="country">Country</label> <select class="border p-2 rounded-md" id="country" name="country" @change="$nextTick(() => updateResultsCount());" x-model="country">
              <option value="">Any</option>
              <option value="Germany">Germany</option>
              <option value="Italy">Italy</option>
              <option value="Japan">Japan</option>
              <option value="UK">UK</option>
              <option value="USA">USA</option>
            </select></li>
          <li class="filter mx-6"><label for="planetype">Plane Type</label> <select class="border p-2 rounded-md" id="planetype" name="planetype" @change="$nextTick(() => updateResultsCount());" x-model="planetype">
              <option value="">Any</option>
              <option value="Fighter">Fighter</option>
              <option value="Fighter bomber">Fighter bomber</option>
              <option value="Navy Fighter">Navy Fighter</option>
              <option value="Heavy Bomber">Heavy Bomber</option>
              <option value="Dive Bomber">Dive Bomber</option>
              <option value="Scout Bomber">Scout Bomber</option>
              <option value="Torpedo Bomber">Torpedo Bomber</option>
              <option value="Transport">Transport</option>
          
            </select></li>
            {# 
          <li class="filter"><label for="location">Location</label> <select class="margin-top-tenth" id="location" name="location" @change="$nextTick(() => updateResultsCount());" x-model="location">
              <option value="">Any</option>
              <option value="google meet">Google Meet</option>
              <option value="zoom">Zoom</option>
            </select></li> #}
        </ul>
      </fieldset>
    </form>
    <div>
    <ul class="list--unstyled grid gap-4 grid-cols-3 mt-4">
{%- for plane in collections.planes -%}
  <li class="talk rounded-lg bg-white js-talk overflow-hidden shadow-md"
  x-show="(!country || country === '{{ plane.data.country }}') &amp;&amp; (!planetype || planetype === '{{ plane.data.planetype }}')"
  >
  <a href="{{ plane.url}}">
  <div class="object-cover w-full">
  {% cloudinaryImage plane.data.image, "w_360,h_240,f_auto", "Cloudinary Sample Image" %} 
  </div>
  <div class="p-2 flex flex-col relative text-center">
  {# <div class="text-center text-gray-600 text-sm">{{ plane.data.country }}</div> #}
  <div><img src="/images/{{plane.data.country}}.svg" class="w-16 h-16 mx-auto -mt-10 border-4 border-white rounded-full shadow-md"/></div>
  <h3 class="text-center text-xl font-semibold mt-2">{{ plane.data.title }}</h3>
  <div class="mt-2 text-gray-600"><span class="text-sm text-gray-500">Max speed:</span> {{ plane.data.maxspeed }} <span class="text-sm text-gray-500">MPH</span></div>
  <div class="text-gray-500 uppercase text-sm font-semibold tracking-wide mt-2 mb-4">{{ plane.data.planetype }} </div>
  </div> 
  </a>
  </li>
{%- endfor -%}
</ul>
</div>
  </figure>
  </div>
{% endblock %}

